<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>About Teddies</h2>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            
            <p>A teddy bear is a stuffed toy in the form of a bear. Developed apparently simultaneously by toymakers
                Morris Michtom in the U.S. and Richard Steiff under his aunt Margarete Steiff's company in Germany in
                the early 20th century, the teddy bear, named after President Theodore Roosevelt, became a popular
                children's toy and has been celebrated in story, song, and film.[1]

                Since the creation of the first teddy bears which sought to imitate the form of real bear cubs,
                "teddies" have greatly varied in form, style, color, and material. They have become collector's items,
                with older and rarer teddies appearing at public auctions.[2] Teddy bears are among the most popular
                gifts for children and are often given to adults to signify affection, congratulations, or sympathy.</p>
            <p>The name teddy bear comes from former United States President Theodore Roosevelt, who was often referred
                to as "Teddy" (though he loathed being referred to as such).[3] The name originated from an incident on
                a bear hunting trip in Mississippi in November 1902, to which Roosevelt was invited by Mississippi
                Governor Andrew H. Longino. There were several other hunters competing, and most of them had already
                killed an animal. A suite of Roosevelt's attendants, led by Holt Collier,[4] cornered, clubbed, and tied
                an American black bear to a willow tree after a long exhausting chase with hounds. They called Roosevelt
                to the site and suggested that he shoot it. He refused to shoot the bear himself, deeming this
                unsportsmanlike, but instructed that the bear be killed to put it out of its misery,[5][6] and it became
                the topic of a political cartoon by Clifford Berryman in The Washington Post on November 16,
                1902.[7][8][9] While the initial cartoon of an adult black bear lassoed by a handler and a disgusted
                Roosevelt had symbolic overtones, later issues of that and other Berryman cartoons made the bear smaller
                and cuter</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../assets/image/download (1).jfif" alt="photo">
            <img src="../../assets/image/p2.jpg"alt="photo">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
    </div>
</div>