<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Types of teddy Bear</h2>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <p>There are many kinds of Teddy bears to choose from, varying from species to brand and material used. The
                showcased bear species are the original American Black bear, Grizzly bear, Polar bear and Panda. All of
                which are still called Teddy bears.

                Since this toy captured the heart of the world, many companies bested each other with their own brand
                icon. The frontrunner collectibles are the Michtom`s mohair Teddy`s bear, Steiff Harlequin bear,
                Knickerboxer bear, Gund and Ty bear, Hershey`s bear, Teddy Ruxpin and Care Bears. Companies also
                marketed bear character icons that gained a huge following up until today: Winnie the Pooh, Paddington,
                Rupert, Sooty, Pudsey and Corduroy.

                There are Teddy bears known distinctively by its materials. One of which is the Mohair bear. Made of
                combed long goat hair or fur shorn that is woven, dyed and trimmed. The Alpaca bear is made of an
                alpaca`s pelt. There are also bears made of “plush” or synthetic fur, denim, velour, cotton, canvas and
                satin.

                They even called some Teddy bears “stuffed plush animals” and get away with it</p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../assets/image/type.jpg" alt="photo">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card" >
                <img src="../../assets/image/t1.jpg" alt="photo" style="height:200px; padding: 5px;">
                <div class="card body">
                    <h4 class="card tittle"> Winnie-the-Pooh</h4>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <img src="../../assets/image/t2.jpg" alt="photo"style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle">Rupert Bear</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <img src="../../assets/image/t33.jpg" alt="photo"style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle">  Yogi Bear</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <img src="../../assets/image/t4.jpg" alt="photo"style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle">Paddington Bear</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card" style="margin-top: 15px;">
                <img src="../../assets/image/t5.jpg" alt="photo" style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle"> Chiltern English</h4>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card"style="margin-top: 15px;">
                <img src="../../assets/image/t6.jpg" alt="photo"style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle"> SuperTedr</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card"style="margin-top: 15px;">
                <img src="../../assets/image/t7.jpg" alt="photo"style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle">  Lotso-Huggin Bear</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card"style="margin-top: 15px;">
                <img src="../../assets/image/t8.jpg" alt="photo"style="height:200px;padding: 5px;">
                <div class="caed body">
                    <h4 class="card tittle"> Teddy Ruxpin</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr>
    </div>

</div>
